label#imagem{
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

label#imagem input{
    display: none;
}

.imgCamera{
    width: 20px;
}

label#imagem.has-imagem{
    border: 0;
}

label#imagem.has-imagem img{
    display: none;
}