label#imagem{
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

label#imagem input{
    display: none;
}

.imgCamera{
    width: 20px;
}

label#imagem.has-imagem{
    border: 0;
}

label#imagem.has-imagem img{
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #routes{
    min-height: 100%;
}

body{
    -webkit-font-smoothing: antialiased !important;
}

body,input,button{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.new{
    margin: 80px auto;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #f5f5f5;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}

.img {
    width: 160px;
}

.new form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new form label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
}

.new form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

.new button.btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #f05a5b;
    color: #fff;
    cursor: pointer;
}

.new button.btn:hover {
    background: #e14f50;
}

.new-center {
    display: flex;
    justify-content: center;
}

.button-cadastrar {
    border: none;
    border: 0;
    border-radius: 2px;
}

.link {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}